.categories{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category{
  padding: 1rem;
}

.category__title{
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.category__products {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0,0,0,0.1);
  width: calc(auto - 2rem);
}

.card__image img{
  width: 100%;
  object-fit: cover;
}

.card__title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.card__price {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card__seeMore {
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.92;
}