@import url('./index/header.css');
@import url('./index/imagePromotion.css');
@import url('./index/categories.css');
@import url('./index/info.css');

@import url('./login/login.css');

@import url('./admin/editProduct.css');

:root {
  --red: #e10600;
  --red2: #ff1800;
  --black: #000000;
  --white: #ffffff;
  --greyClarito: #d4d4d4;
  --grey: #38383f;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

footer {
  padding: 1rem 0;
  background-color: var(--white);
  text-align: center;
  color: var(--black);
}
